<html>
    <head>
        <title>Books</title>
    </head>
    <body>
        <h1>{{books.getTitle()}}</h1>
       <a href="save.njk"><label >{{books.getAuthor()}}</label></a><br>
       <a href="save.njk"><label >{{books.getPublisher().getName()}}</label></a><br>
       <a href="save.njk"><label >{{books.getPrice()}}</label></a>
    </body>
</html>