<html>
    <head>
        <title>Books</title>
    </head>
    <body>
        <h1>{{books.getTitle()}}</h1>
      <label >{{books.getAuthor()}}</label>
      <label >{{books.getPublisher().getName()}}</label>
      <label >{{books.getPrice()}}</label>
    </body>
</html>