<html>
    <head>
        <title>Books</title>
    </head>
    <body>
        <h1>{{books.getTitle()}}</h1>
      <small >{{books.getAuthor()}}</small> |
      <small >{{books.getPublisher().getName()}}</small> |
      <small >{{books.getPrice()}}</small>
    </body>
</html>