<html>
<head>
    <title>Books Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascript/script.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-static-top navbar-default">
        <div class="container-fluid">
            <a href="/" class="navbar navbar-brand">Books</a>
                <ul class="nav justify-content-end">
                    <li id="search-advance"><a href="#" class="nav-link">Search advance</a></li>
                </ul>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group-prepend">
                            <input type="text" class="form-control" aria-label="Default"
                                   aria-describedby="inputGroup-s" id="search" placeholder="Searching for">
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <span class="btn glyphicon glyphicon-search"></span>
                    </div>
                </div>
        </div>
    </nav>
</header>
<nav class="navbar navbar-expland-lg navbar-light bg-light">
    <div class="container-fluid">
        <form id="form-condition">
            <div class="form-group col-md-5">
                    <label for="title">Title:</label>
                    <input name="title" id="title" class="form-control">
            </div>
            <div class="form-group col-md-5">
                <label for="publisher">Publisher:</label>
                <input name="publisher" id="publisher" class="form-control"> <label id="check"></label>
            </div>
            <div class="form-group col-md-5">
                <label for="author">Author: </label>
                <input name="author" id="author" class="form-control">
            </div>
            <div class="form-group col-md-5">
                <label for="price">Price: </label>
                <input name="price" id="price" type="number" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <br>
                <button id="add" class="btn btn-success">Add</button>
            </div>
        </form>
    </div>
</nav>
<section id="all">

    <ul id="book-list" class="list-group">
        <li id="book-view" hidden ></li>
    </ul>
</section>
</body>
<script>
    $("#edit").change(() => {
        $("#edit-form").toggle();
    });
</script>

<script id="book-template" type="text/html">
    <ul class="list-group">
        <li class="list-group-item list-group-item-action" id="get-detail" >
            <a href="#" id="show-detail" role="button" aria-expanded="false">:bookName:
            </a>

                <p>Author:    :bookAuthor:</p>
                <p>Publisher: :bookPublisher:</p>
                <p>Price:     :bookPrice:</p>
                <p>Phone:     :publisherPhone:</p>
            <a href="/detail/:id:" id="edit" class="btn btn-primary">Edit</a>
            <button id="delete" class="btn btn-danger">Delete</button>
        </li>
    </ul>
</script>
</html>