<html>
    <head>
        <title>List Of Books</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <header>
            <h2>List Of Books</h2>
        </header>

        <nav>
            <a href="/">Home</a> |
            <a href="/books">Books</a>
        </nav>
    </body>
</html>