<html>
    <head>
        <title>Books</title>
    </head>
    <body>
        <form action = "/save" method = "post" role="form">
            <div>
                <label for = "title">Title: </label>
                <input id= "title" name = "title">
            </div>
            <div>
                <label for = "author">Author: </label>
                <input id = "author" name = "author">
            </div>
                Publisher:
            <select name="publisher_id" id="publisher">
                    {% for publisher in publishers %}
                    <option value= "{{publisher.getId()}}">
                        {{publisher.getName()}}
                    </option>
                    {% endfor%}
            </select>
            <div>
                <label for = "price"> Price: </label>
                <input  type = "number" id = "price" name = "price">
            </div>
            <input type="submit" value = "Send">
        </form>
    </body>
</html>